<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if title  %}
        <title>Media Control- {{ title }}</title>
    {% else %}
        <title>Media Control</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.js')}}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        @media (max-width: 500px) {
        .screen-responsive {
            margin-top: 20px;
            margin-bottom: 10px;
            margin-left: 10px;
            margin-right: 10px;
          }
        }

        @media (min-width: 500px) {
        .screen-responsive {
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 30px;
            margin-right: 30px;
          }
        }
        {% block css %}
        {% endblock css %}
    </style>
</head>
<body>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Media Control</a>
    </div>
    </nav>
    {% block content %}
    {% endblock content%}
</body>
</html>