{% extends "base.html" %}

{% block css %}
.btn-margin {
    margin-top: 10px;
}
{% endblock css %}

{% block content %}
<div class="screen-responsive">
<h2>System Suspend</h2>
    <div style="margin-left: 20px;">
        <h5>This option will suspend the system and automatically waking it up after periode of time.</h5>
        <h5>Select scheduled system suspend:</h5>
        <form method="post">
            <button class="btn btn-primary btn-margin" name="time_button" value="10">10 hour</button>
            <button class="btn btn-primary btn-margin" name="time_button" value="8">8 hour</button>
            <button class="btn btn-primary btn-margin" name="time_button" value="7">7 hour</button>
            <button class="btn btn-primary btn-margin" name="time_button" value="5">5 hour</button>
            <button class="btn btn-primary btn-margin" name="time_button" value="3">3 hour</button>
            <button class="btn btn-primary btn-margin" name="time_button" value="1">1 hour</button>
            <h5 style="margin-top: 20px;">Custom suspend time:</h5>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Minutes (ex: 3.5)" aria-label="Recipient's username" aria-describedby="button-addon2" name="custom_time">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" name="time_button" value="custom">Suspend</button>
                </div>
            </div>
            </form>
    </div>
</div>
{% endblock content %}