{% extends "base.html" %}
{% block content %}
<div style="text-align: center; margin-top: 20px;">
    <h3>Sorry, there is an error :(</h3>
    <h4>Check your input and try again</h4>
</div>
{% endblock content %}