{% extends "base.html" %}

{% block css %}
@media (max-width: 500px) {
    .btn-responsive {
        width: 90%;
        margin-bottom: 10px;
        }
    }
@media (min-width: 500px) {
    .btn-responsive {
        width: 70%;
        margin-bottom: 10px;
        }
    }
{% endblock css %}
{% block content %}
<div class="screen-responsive">
<div style="text-align: center; margin-top: 20px;">
    <h2 class="h1">Welcome!</h2>
    <h4>This is a Media Control page. Choose what you want to do:</h4>
</div>

<div style="text-align: center; margin-top: 20px;">
    <a class="btn btn-primary btn-block btn-responsive" href="/youtube">Youtube Downloader</a>
    <a class="btn btn-primary btn-block btn-responsive" href="/control">Schedule Suspend</a>
</div>
</div>
{% endblock %}