{% extends "base.html" %}

{% block content %}
<div class="screen-responsive">
    <h1>Youtube Downloader</h1>
    <form method="post">
    <div>
        <input type="text" class="form-control" placeholder="Youtube Link" name="input_link">
        <h4 style="margin-top: 20px;">Download Option:</h4>
    </div>
    <div class="mb-3">
        <input class="btn btn-primary" style="margin-top: 10px;" type="submit" name="submit_download" value="Video 1080"/>
        <input class="btn btn-primary" style="margin-top: 10px;" type="submit" name="submit_download" value="Video 720"/>
        <input class="btn btn-primary" style="margin-top: 10px;" type="submit" name="submit_download" value="Video 480"/>
    </div>
    <div>
        <input class="btn btn-secondary" style="margin-top: 10px" type="submit" name="submit_download" value="Download Audio"/>
    </div>
    {% if request.method == "POST" %}
        Downloaded!
    {% endif %}
    </form>
</div>
{% endblock %}